<!DOCTYPE html>
<html lang="pt-BR">
  <%-include('./parts/head.ejs', {css: ['geral.css', 'index.css']}) %> 
  <body>
    <%- include("./parts/header")  %> 
    <main>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>